server:
  apiAddress: ":1237"
  shutdownTimeout: "10s"
  bodyLimit: "100G"

# Rest client
http:
  maxIdleConns: 2
  idleConnTimeout: '10s'
  disableCompression: false

auth:
  exclude:
    - "^/video/public.*"
    - "^/internal/.*"

jaeger:
  host: "localhost"
  port: 6831

chat:
  url:
    base: "http://localhost:1235"
    access: "/internal/access"
    isChatAdmin: "/internal/is-admin"
    doesParticipantBelongToChat: "/internal/does-participant-belong-to-chat"
    chatParticipants: "/internal/participant-ids"
    chatInviteName: "/internal/name-for-invite"
    chatBasicInfoPath: "/internal/basic"

aaa:
  url:
    base: "http://localhost:8060"
    getUsers: "/internal/user/list"

storage:
  url:
    base: "http://localhost:1236"
    s3: "/internal/s3"

livekit:
  api:
    key: "APIznJxWShGW3Kt"
    secret: "KEUUtCDVRqXk9me0Ok94g8G9xwtnjMeUxfNMy8dow6iA"
  url: "http://localhost:7880"

frontend:
  videoResolution: h720
  screenResolution: "null"
  videoSimulcast: true
  screenSimulcast: false
  roomDynacast: true
  roomAdaptiveStream: true
  # set null to trigger browser's default, otherwise livekit-js is going to set vp8
  codec: "null"

rabbitmq:
  url: "amqp://videoChat:videoChatPazZw0rd@127.0.0.1:36672"
  debug: true


# used to forbid records by guests on demo server
onlyRoleAdminRecording: false
recordPreset: H264_1080P_30

dialExpire: 1h

redis:
  address: :36379
  password: ""
  db: 4
  maxRetries: 10000

schedulers:
  videoCallUsersCountNotifierTask:
    enabled: true
    notificationPeriod: 2s
  chatDialerTask:
    enabled: true
    dialPeriod: 2s
  videoRecordingNotifierTask:
    enabled: true
    notificationPeriod: 20s
  videoCallUsersIdsNotifierTask:
    enabled: true
    notificationPeriod: 5s # more or less close to aaa's user online
