server:
  address: ":1237"
  shutdownTimeout: "10s"
  bodyLimit: "100G"

# Rest client
http:
  maxIdleConns: 2
  idleConnTimeout: '10s'
  disableCompression: false

auth:
  exclude:
    - "^/video/public.*"
    - "^/internal/.*"
# TODO remove it
#    - "^/video/\\d/record.*"

jaeger:
  host: "localhost"
  port: 6831

chat:
  url:
    base: "http://localhost:1235"
    access: "/internal/access"
    isChatAdmin: "/internal/is-admin"
    doesParticipantBelongToChat: "/internal/does-participant-belong-to-chat"
    chatParticipants: "/internal/participant-ids"
    chatInviteName: "/internal/name-for-invite"

aaa:
  url:
    base: "http://localhost:8060"
    getUsers: "/internal/user/list"

livekit:
  api:
    key: "APIznJxWShGW3Kt"
    secret: "KEUUtCDVRqXk9me0Ok94g8G9xwtnjMeUxfNMy8dow6iA"
  url: "http://localhost:7880"

frontend:
  videoResolution: h720
  screenResolution: h1080
  videoSimulcast: true
  screenSimulcast: false
  roomDynacast: true
  roomAdaptiveStream: true

rabbitmq:
  url: "amqp://videoChat:videoChatPazZw0rd@127.0.0.1:36672"
  debug: true

syncNotificationPeriod: 2s
dialPeriod: 5s

redis:
  address: :36379
  password: ""
  db: 4
  maxRetries: 10000
