!.gitignore
.project
.idea
*.iml
node_modules
static_assets
static_migrations
/chat/chat
/chat/proto
vendor
.vendor-new
grpc
target
/frontend-nginx
/storage/storage
build
/chat/static/git.json
/storage/static/git.json
/video/static/git.json