!.gitignore
.project
.idea
*.iml
node_modules
/chat/chat
vendor
.vendor-new
target
/storage/storage
build
git.json
/video/video
/event/event
/notification/notification
test-results/
playwright-report/
__debug_bin
.vscode/
