server:
  address: ":1235"
  shutdown.timeout: "10s"
  body.limit: "100G"

# Rest client
http:
  maxIdleConns: 2
  idleConnTimeout: '10s'
  disableCompression: false

auth:
  exclude:
    - "^/chat/public.*"
    - "^/internal.*"
    - "^/blog.*"

postgresql:
  # https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNSTRING
  url: "postgres://chat:chatPazZw0rd@localhost:35432/chat?sslmode=disable&application_name=chat-app"
  maxOpenConnections: 16
  maxIdleConnections: 4
  maxLifetime: 30s

aaa:
  url:
    base: "http://localhost:8060"
    getUsers: "/internal/user/list"
    searchUsers: "/internal/user/search"

rabbitmq:
  url: "amqp://videoChat:videoChatPazZw0rd@127.0.0.1:36672"

jaeger:
  host: "localhost"
  port: 6831

previewMaxTextSize: 240
# Along with resending, it makes all files in private chat available to GET by any logged in user
canResendFromTetATet: true

blogPreviewMaxTextSize: 400
blogSearchSize: 5000

baseUrl: "http://api.site.local:8080"
message:
  # The list of allowed url prefixes which can be used in insertable image, video, ..., separated by , (comma)
  # Let's consider an example: "http://api.site.local:8080,"
  # the first element allows regular urls from this site, such as "http://api.site.local:8080/api/storage/download?file=chat%2F34%2Fbd92b094-35aa-43ee-9dae-a8aeb5912843%2Fpicture.jpg"
  # the second (empty) element allows urls w/o (schema, host, port) from its site, such as "/api/storage/download?file=chat%2F34%2Fbd92b094-35aa-43ee-9dae-a8aeb5912843%2Fimage.jpg"
  allowedMediaHosts: ""
  allowedIframeUrls: "https://www.youtube.com/embed"
