server:
  address: ":1236"
  shutdown.timeout: "10s"
  body.limit: "100G"
  contextPath: "/api"

# Rest client
http:
  maxIdleConns: 2
  idleConnTimeout: '10s'
  disableCompression: false

auth:
  exclude:
    - "^/storage/public.*"
    - "^/internal.*"

types:
  image:
    - ".jpg"
    - ".jpeg"
    - ".png"
    - ".webp"
    - ".gif"
  video:
    - ".mp4"
    - ".mkv"
    - ".webm"
    - ".mov"
  audio:
    - ".mp3"
    - ".m4a"
  plainText:
    - ".txt"

rabbitmq:
  url: "amqp://videoChat:videoChatPazZw0rd@127.0.0.1:36672"

jaeger:
  host: "localhost"
  port: 6831

minio:
  secured: false
  internalEndpoint: 127.0.0.1:9000
  interContainerUrl: http://minio:9000
  publicUrl: http://localhost:8081/api/s3
  publicDownloadTtl: 24h
  publicUploadTtl: 24h
  accessKeyId: AKIAIOSFODNN7EXAMPLE
  secretAccessKey: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
  location: "europe-east"
  multipart:
    # https://www.altostra.com/blog/multipart-uploads-with-s3-presigned-url
    # 100MB
    chunkSize: 100000000
    expire: 24h
  bucket:
    userAvatar: "user-avatar"
    chatAvatar: "chat-avatar"
    files: "files"
    filesPreview: "files-preview"

chat:
  url:
    base: "http://localhost:1235"
    access: "/internal/access"
    removeFileItem: "/internal/remove-file-item"
    checkChatExistsPath: "/internal/does-chat-exist"
    chatParticipants: "/internal/participant-ids"

aaa:
  url:
    base: "http://localhost:8060"
    getUsers: "/internal/user/list"

limits:
  enabled: false
  stat:
    dir: "."
  default:
    # 512 megabytes
    all.users.limit: 536870912

redis:
  address: :36379
  password: ""
  db: 3
  maxRetries: 10000

schedulers:
  cleanFilesOfDeletedChatTask:
    enabled: true
    interval: 60s
    batchChats: 20
  actualizePreviewsTask:
    enabled: true
    interval: 60s
