server:
  address: ":1236"
  shutdown.timeout: "10s"
  body.limit: "100G"
  contextPath: "/api"

auth:
  exclude:
    - "^/storage/public.*"

jaeger:
  endpoint: "localhost:6831"

minio:
  endpoint: 127.0.0.1:9000
  accessKeyId: AKIAIOSFODNN7EXAMPLE
  secretAccessKey: wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
  location: "europe-east"
  bucket:
    userAvatar: "user-avatar"
    chatAvatar: "chat-avatar"
    files: "files"
    embedded: "embedded"
  cleaner:
    embedded:
      interval: 2s
      maxKeys: 10

chat:
  url:
    base: "http://localhost:1235"
    access: "/internal/access"
    removeFileItem: "/internal/remove-file-item"
aaa:
  url:
    base: "http://localhost:8060"
    getUsers: "/internal/user/list"

limits:
  enabled: true
  stat:
    dir: "."
  default:
    # 512 megabytes
    all.users.limit: 536870912

redis:
  address: :36379
  password: ""
  db: 3
