@import "constants.styl"

.list-item-head {
  color:rgba(0, 0, 0, .6);
  font-size: .8125rem;
  font-weight: 500;
  line-height: 1rem;
  display: inherit
}

.message-item-root {
  // align-items: center;
  display: flex;
  flex: 1 1 100%;
  letter-spacing: normal;
  min-height: 48px;
  outline: none;
  padding: 0 16px;
  padding-right: 16px;
  padding-left: 16px;
  position: relative;
  text-decoration: none;
}

.message-item-with-buttons-wrapper {
  flex 1 1
}
.message-item-wrapper {
  border-radius 10px
  background #efefef
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  width: fit-content;
  word-wrap break-word
  overflow-wrap break-word

  .after-embed {
    padding-top: 0
  }
}

.my {
  background $messageSelectedBackground
}

.message-item-text {
  line-height: $lineHeight;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  white-space: pre-wrap

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  p {
    margin-bottom unset
  }
  p:empty:after {
    content: '\200b';
  }
}
