version: '3.7'

services:
  storage:
    image: nkonev/chat-storage:changing
    networks:
      backend:
    deploy:
      replicas: 2
      update_config:
        parallelism: 1
        delay: 20s
      labels:
        - "traefik.enable=true"
        - "traefik.http.services.storage-service.loadbalancer.server.port=1236"
        - "traefik.http.routers.storage-router.rule=PathPrefix(`/api/storage`)"
        - "traefik.http.routers.storage-router.entrypoints=http"
        - "traefik.http.routers.storage-router.middlewares=auth-middleware@file,api-strip-prefix-middleware@file,retry-middleware@file"

        - "traefik.http.routers.storage-public-router.rule=PathPrefix(`/api/storage/public`)"
        - "traefik.http.routers.storage-public-router.entrypoints=http"
        - "traefik.http.routers.storage-public-router.middlewares=api-strip-prefix-middleware@file,retry-middleware@file"

        - "traefik.http.middlewares.storage-stripprefix-middleware.stripprefix.prefixes=/storage"
        - "traefik.http.routers.storage-version-router.rule=Path(`/storage/git.json`)"
        - "traefik.http.routers.storage-version-router.entrypoints=http"
        - "traefik.http.routers.storage-version-router.middlewares=storage-stripprefix-middleware"
    environment:
        - STORAGE_MINIO.INTERNALENDPOINT=minio:9000
        - STORAGE_MINIO.INTERCONTAINERURL=http://minio:9000
        - STORAGE_MINIO.PUBLICURL=http://api.site.local:8081/api/s3
        - STORAGE_MINIO.PUBLICDOWNLOADTTL=24h
        - STORAGE_MINIO.PUBLICUPLOADTTL=24h
        - STORAGE_MINIO.ACCESSKEYID=AKIAIOSFODNN7EXAMPLE
        - STORAGE_MINIO.SECRETACCESSKEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
        - STORAGE_CHAT.URL.BASE=http://chat:1235
        - STORAGE_AAA.URL.BASE=http://aaa:8060
        - STORAGE_LIMITS.STAT.DIR=/data
        - STORAGE_REDIS.ADDRESS=redis:6379
        - STORAGE_REDIS.DB=3
        - STORAGE_JAEGER.HOST=jaeger
        - STORAGE_JAEGER.PORT=6831
#        - STORAGE_LIMITS.ENABLED=true
        - STORAGE_RABBITMQ.URL=amqp://videoChat:videoChatPazZw0rd@rabbitmq:5672

    logging:
      driver: "journald"
      options:
        tag: chat-storage
    volumes:
      - /mnt/chat-minio/data:/data
      # use temp dir for uploading large files
      - /mnt/chat-storage-tmp:/tmp


networks:
  backend:
    driver: overlay
