# required fields
#log_level: DEBUG
api_key: "{{ livekit_api_key }}"
api_secret: "{{ livekit_api_secret }}"
ws_url: "ws://livekit:7880"
insecure: true
redis:
  address: redis:6379
  username: ""
  password: ""
  db: 2
cpu_cost:
  room_composite_cpu_cost: 1.0
