server:
  address: ":1235"
  shutdown.timeout: "10s"
  body.limit: "100G"

http:
  idle:
    conns:
      max: 2
    connTimeout: '10s'
  disableCompression: false

auth:
  exclude:
    - "^/public.*"

postgresql:
  # https://www.postgresql.org/docs/current/libpq-connect.html#LIBPQ-CONNSTRING
  url: "postgres://chat:chatPazZw0rd@localhost:35432/chat?sslmode=disable&application_name=chat-app"
  maxOpenConnections: 16
  maxIdleConnections: 4
  maxLifetime: 30s

redis:
  host: localhost
  port: 36379
  password: ""
  db: 1
  connectTimeout: 5s
  readTimeout: 30s
  writeTimeout: 30s
  idleTimeout: 60s

aaa:
  url:
    base: "http://api.site.local:8060"
    getUsers: "/internal/user/list"

jaeger:
  endpoint: "localhost:6831"