.item-avatar {
  align-items: center;
  border-radius: 50%;
  overflow: hidden;

  height: 40px;
  min-width: 40px;
  width: 40px;

  img {
    border-radius: inherit;
    height: inherit;
    width: inherit;
  }
}
