@import "constants.styl"

.image-custom-class {
  max-width: 100% !important
  height: 360px !important // we should use the fixed height, otherwise during first load on Firefox page won't be scrolled exactly down
}

.mention {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  padding: 0.1rem 0.3rem;
  box-decoration-break: clone;
}

.video-custom-class {
  max-width: 100% !important
  height: 360px !important
}

.audio-custom-class {
  min-width: 600px
  max-width: 100% !important
}

.iframe-custom-class {
  position: relative;
  overflow: hidden;
  height: 480px;
  width: 640px;
  &.ProseMirror-selectednode {
    outline: 3px solid #68CEF8;
  }
  background black
  border-width 0
}

@media screen and (max-width: $mobileWidth) {
  .image-custom-class {
    max-height: 300px !important
  }

  .video-custom-class {
    max-height: 300px !important
  }

  .audio-custom-class {
    min-width: unset
    max-height: 300px !important
  }

  .iframe-custom-class {
    height: 200px !important
    width: 280px !important
  }

  .embedded-message {
    .iframe-custom-class {
      width: 260px !important
    }
  }
}

.message-item-wrapper a, .editorContent a {
  color: $linkColor;
}

.message-item-wrapper ul,
.message-item-wrapper ol,
.editorContent ul,
.editorContent ol {
  padding: 0 1rem;
}

.message-item-wrapper code, .editorContent code {
  border-radius: 3px;
  font-size: 85%;
  font-weight: normal;
  padding: 0.2em 0.4em;
  background-color: rgba(0, 0, 0, 0.05);
}

.message-item-wrapper pre, .editorContent pre {
  background: #0D0D0D;
  color: #FFF;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  width: fit-content;

  code {
    color: inherit;
    padding: 0;
    background: none;
    font-size: 0.8rem;
    white-space: pre-wrap;

    word-break: break-word;
  }

}

.video-in-message-wrapper {
  position relative
  display flex
  height: fit-content;
  width: fit-content;
}

.video-in-message-button {
  font-size: 3em;
  line-height 1em
  color white
  cursor pointer
  text-shadow: 1px 1px 2px #000;

  z-index 2
  display inherit
  right 0.4em
  top 0.4em
  position: absolute
}
