#viewport, body {
    height: var(--100vvh, 100vh);
    width: var(--100vvw, 100vw);
    overflow: auto;
    position: relative;
}


/*
 Optionally improve scrollbar performance by
 treating the #viewport as the body.
 */

/* body { overflow: hidden } */
