acme_email: "your_email_for_letsencrypt@gmail.com"
old_domain: "old.example.com" # optional
domain: "example.com"
minio_user: "AKIAIOSFODNN7EXAMPLE"
minio_password: "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"
