$borderColor = rgba(0, 0, 0, 0.2)
$messageSelectedBackground = #e4efff
$mobileWidth = 800px
$embedMessageColor = #f9f9f9

.list-item-head {
  color:rgba(0, 0, 0, .6);
  font-size: .8125rem;
  font-weight: 500;
  line-height: 1rem;
  display: inherit
}

.message-item-text {
  line-height: 1.1;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  white-space: pre-wrap

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  p {
    margin-bottom unset
  }
  p:empty:after {
    content: '\200b';
  }
}
