$borderColor = rgba(0, 0, 0, 0.2)
$messageSelectedBackground = #e4efff
$mobileWidth = 800px
$embedMessageColor = #f9f9f9

.list-item-head {
  color:rgba(0, 0, 0, .6);
  font-size: .8125rem;
  font-weight: 500;
  line-height: 1rem;
  display: inherit
}
