// to check those 2 bugs:
// Open ChatEditModal of a chat with an avatar
// reverts 3.7.4 https://github.com/vuetifyjs/vuetify/commit/42a12dd89da2e7e5ea5f6a3bc7611fb2e9f2563a#diff-0ca827fe1439dde86f60164ea243a0e4c495fa2e03606f4dd802703d1a0d30efR58
.v-dialog--scrollable {
  > .v-overlay__content {
    max-height: calc(100% - 48px);
  }
}
