body{
    height: 200vh;
}

.header{
    width: 100%;
    background-color: #00d2ad;
    padding: 20px 0;
}

.wrapper{
    max-width: 1280px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}



.logo{
    width: 20%;
}

.logo__pic{
    display: block;
    max-width: 100%;
    height: auto;
    width: 80px;
    margin:  0 auto;
}

.menu{
    width: 60%;
    align-self: center;
    text-align: center;
}

.menu__item{
    color: white;
    font-family: Arial;
    font-size: 18px;
    line-height: 1;
    font-weight: 800;
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu__item:last-child{
    margin-right: 0;
}

.callback{
    align-self: center;
}

.callback__btn{
    padding: 15px 20px;
    line-height: 1;
    font-size: 16px;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: 300;
    color: #00d2ad;
    border: none;
    background: #fff;
    cursor: pointer;
    box-shadow: -5px 5px 0px 0px rgba(0,0,0,0.3);
}

.header_fixed{
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    animation: showElement;
    animation-duration: 1s;
}

@keyframes showElement{
    0% {
        opacity: 0;
        top: -70px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}