.image-custom-class {
  max-width: 100% !important
  height: 360px !important // we should use the fixed height, otherwise during first load on Firefox page won't be scrolled exactly down
}

.mention {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  padding: 0.1rem 0.3rem;
  box-decoration-break: clone;
}

.video-custom-class {
  max-width: 100% !important
  height: 360px !important
}

.iframe-wrapper {
  position: relative;
  padding-bottom: (100 / 16) * 9%;
  overflow: hidden;
  height: 480px;
  width: 640px;
  &.ProseMirror-selectednode {
    outline: 3px solid #68CEF8;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
