@import "constants.styl"

.image-custom-class {
  max-width: 100% !important
  height: 360px !important // we should use the fixed height, otherwise during first load on Firefox page won't be scrolled exactly down
}

.mention {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  padding: 0.1rem 0.3rem;
  box-decoration-break: clone;
}

.video-custom-class {
  max-width: 100% !important
  height: 360px !important
}

.iframe-custom-class {
  position: relative;
  overflow: hidden;
  height: 480px;
  width: 640px;
  &.ProseMirror-selectednode {
    outline: 3px solid #68CEF8;
  }
  background black
  border-width 0
}

@media screen and (max-width: $mobileWidth) {
  .image-custom-class {
    max-height: 300px;
  }

  .video-custom-class {
    max-height: 300px;
  }

  .iframe-custom-class {
    max-height: 300px;
    max-width: calc(100vw - 120px) !important
  }
}
