$fbColor=#3B5998
$vkColor=#45668e

.c-btn-fb {
  border-color: $fbColor !important
  background: $fbColor !important
  color: white !important
}
.c-btn-vk {
  border-color: $vkColor !important
  background: $vkColor !important
  color: white !important
}
