$fbColor=#3B5998
$vkColor=#45668e
$googleColor=#4285F4

.c-btn-fb {
  border-color: $fbColor !important
  background: $fbColor !important
  color: white !important
}
.c-btn-vk {
  border-color: $vkColor !important
  background: $vkColor !important
  color: white !important
}

.c-btn-google {
  border-color: $googleColor !important
  background: $googleColor !important
  color: white !important
}