http:
  services:
    frontend-old-service:
      loadBalancer:
        servers:
          - url: http://host.docker.internal:8082
    frontend-service:
      loadBalancer:
        servers:
          - url: http://host.docker.internal:3000
    frontend-blog-service:
      loadBalancer:
        servers:
          - url: http://host.docker.internal:3100

    aaa-service:
      loadBalancer:
        servers:
          - url: http://host.docker.internal:8060
    chat-service:
      loadBalancer:
        servers:
          - url: http://host.docker.internal:1235
    storage-service:
      loadBalancer:
        servers:
          - url: http://host.docker.internal:1236
    video-service:
      loadBalancer:
        servers:
          - url: http://host.docker.internal:1237
    livekit-service:
      loadBalancer:
        servers:
          - url: http://host.docker.internal:7880
    event-service:
      loadBalancer:
        servers:
          - url: http://host.docker.internal:1238
    notification-service:
      loadBalancer:
        servers:
          - url: http://host.docker.internal:1230
    minio-service:
      loadBalancer:
        servers:
          - url: http://minio:9000

  routers:
    frontend-router:
      rule: "PathPrefix(`/`)"
      service: frontend-service
      middlewares:
        - "retry-middleware"
    frontend-blog-router-ssr:
      rule: "PathPrefix(`/blog`) && HeadersRegexp(`User-Agent`, `(?i)(googlebot|bot|Googlebot-Mobile|Googlebot-Image|Google favicon|Mediapartners-Google|bingbot|slurp|java|wget|curl|Commons-HttpClient|Python-urllib|libwww|httpunit|nutch|phpcrawl|msnbot|jyxobot|FAST-WebCrawler|FAST Enterprise Crawler|biglotron|teoma|convera|seekbot|gigablast|exabot|ngbot|ia_archiver|GingerCrawler|webmon |httrack|webcrawler|grub.org|UsineNouvelleCrawler|antibot|netresearchserver|speedy|fluffy|bibnum.bnf|findlink|msrbot|panscient|yacybot|AISearchBot|IOI|ips-agent|tagoobot|MJ12bot|dotbot|woriobot|yanga|buzzbot|mlbot|yandexbot|purebot|Linguee Bot|Voyager|CyberPatrol|voilabot|baiduspider|citeseerxbot|spbot|twengabot|postrank|turnitinbot|scribdbot|page2rss|sitebot|linkdex|Adidxbot|blekkobot|ezooms|dotbot|Mail.RU_Bot|discobot|heritrix|findthatfile|europarchive.org|NerdByNature.Bot|sistrix crawler|ahrefsbot|Aboundex|domaincrawler|wbsearchbot|summify|ccbot|edisterbot|seznambot|ec2linkfinder|gslfbot|aihitbot|intelium_bot|facebookexternalhit|yeti|RetrevoPageAnalyzer|lb-spider|sogou|lssbot|careerbot|wotbox|wocbot|ichiro|DuckDuckBot|lssrocketcrawler|drupact|webcompanycrawler|acoonbot|openindexspider|gnam gnam spider|web-archive-net.com.bot|backlinkcrawler|coccoc|integromedb|content crawler spider|toplistbot|seokicks-robot|it2media-domain-crawler|ip-web-crawler.com|siteexplorer.info|elisabot|proximic|changedetection|blexbot|arabot|WeSEE:Search|niki-bot|CrystalSemanticsBot|rogerbot|360Spider|psbot|InterfaxScanBot|Lipperhey SEO Service|CC Metadata Scaper|g00g1e.net|GrapeshotCrawler|urlappendbot|brainobot|fr-crawler|binlar|SimpleCrawler|Livelapbot|Twitterbot|cXensebot|smtbot|bnf.fr_bot|A6-Indexer|ADmantX|Facebot|Twitterbot|OrangeBot|memorybot|AdvBot|MegaIndex|SemanticScholarBot|ltx71|nerdybot|xovibot|BUbiNG|Qwantify|archive.org_bot|Applebot|TweetmemeBot|crawler4j|findxbot|SemrushBot|yoozBot|lipperhey|y!j-asr|Domain Re-Animator Bot|AddThis)`)"
      service: frontend-blog-service
      middlewares:
        - "retry-middleware"

    aaa-router:
      rule: "PathPrefix(`/api/aaa`)"
      service: aaa-service
      middlewares:
        - "retry-middleware"
    chat-router:
      rule: "PathPrefix(`/api/chat`)"
      service: chat-service
      middlewares:
        - "auth-middleware"
        - "api-strip-prefix-middleware"
        - "retry-middleware"
    blog-router:
      rule: "PathPrefix(`/api/blog`)"
      service: chat-service
      middlewares:
        - "api-strip-prefix-middleware"
        - "retry-middleware"
    storage-router:
      rule: "PathPrefix(`/api/storage`)"
      service: storage-service
      middlewares:
        - "auth-middleware"
        - "api-strip-prefix-middleware"
        - "retry-middleware"
    video-router:
      rule: "PathPrefix(`/api/video`)"
      service: video-service
      middlewares:
        - "auth-middleware"
        - "api-strip-prefix-middleware"
    notification-router:
      rule: "PathPrefix(`/api/notification`)"
      service: notification-service
      middlewares:
        - "auth-middleware"
        - "api-strip-prefix-middleware"
        - "retry-middleware"

    chat-public-router:
      rule: "PathPrefix(`/api/chat/public`)"
      service: chat-service
      middlewares:
        - "api-strip-prefix-middleware"
        - "retry-middleware"
    storage-public-router:
      rule: "PathPrefix(`/api/storage/public`)"
      service: storage-service
      middlewares:
        - "api-strip-prefix-middleware"
        - "retry-middleware"
    livekit-router:
      rule: "PathPrefix(`/api/livekit`)"
      service: livekit-service
      middlewares:
        - "livekit-strip-prefix-middleware"
        - "retry-middleware"
    event-graphql-router:
      rule: "PathPrefix(`/event/playground`) || PathPrefix(`/api/event/graphql`)"
      service: event-service
      middlewares:
        - "auth-middleware"
        - "retry-middleware"
    event-public-router:
      rule: "PathPrefix(`/api/event/public`)"
      service: event-service
      middlewares:
        - "api-strip-prefix-middleware"
        - "retry-middleware"
    notification-public-router:
      rule: "PathPrefix(`/api/notification/public`)"
      service: notification-service
      middlewares:
        - "api-strip-prefix-middleware"
        - "retry-middleware"
    minio-router:
      rule: "PathPrefix(`/api/s3`)"
      service: minio-service
      middlewares:
        - "minio-strip-prefix-middleware"
        - "retry-middleware"
        - "minio-fix-host-middleware"

  middlewares:
    api-strip-prefix-middleware:
      stripPrefix:
        prefixes:
          - "/api"
    livekit-strip-prefix-middleware:
      stripPrefix:
        prefixes:
          - "/api/livekit"
    minio-strip-prefix-middleware:
      stripPrefix:
        prefixes:
          - "/api/s3"
    minio-fix-host-middleware:
      headers:
        customRequestHeaders:
          Host: "127.0.0.1:9000"
    retry-middleware:
      retry:
        attempts: 4
    auth-middleware:
      forwardAuth:
        address: "http://host.docker.internal:8060/internal/profile/auth"
        authRequestHeaders:
          - "Cookie"
          - "uber-trace-id"
        authResponseHeadersRegex: "^X-Auth-"
