$borderColor = rgba(0, 0, 0, 0.2)
$messageSelectedBackground = #e4efff
$mobileWidth = 800px
$embedMessageColor = #f9f9f9
$lineHeight = 1.375rem
$lineHeightMobile = 1.2rem
$linkColor = #1976D2 !important // see also in utils.js
$blackColor = rgba(0, 0, 0, 0.87) !important
